################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PankajBookStore/.vs/PankajBookStore
/PankajBookStore/PankajBookStore/bin/Debug/netcoreapp3.1
/PankajBookStore/PankajBookStore/obj
